.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainer {
    position: absolute;
    width: 100vw;
    bottom: 10px;
    text-align: center;
}

.buttonContainer svg {
    font-size: 2rem;
    margin-right: 10px;
}

.videoDiv { 
    display: row;
    padding: 10px;
    gap : 10px;
}

.singleVideo > video{
    width: 40vw;
    min-width: 30vw;
    border-radius: 15px;
}