
.landingPageContainer{
    width: 100vw;
    height: 100vh;
    background : url("./public/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color : white;
}

.landingPageContainer nav{
    padding-inline : 1.2rem;
    padding-block : 1.6rem;
    display : flex;
    justify-content: space-between;
}

.landingPageContainer nav h2{
    font-size: 1.6rem;
    font-weight: 500;
}

.landingPageContainer .navList ul{
    display: flex;
    gap : 1.2rem;
    list-style-type: none;
    cursor: pointer;
}

.landingPageContainer .navList ul li{
    font-size: 1.1rem;
    font-weight: 500;
}

.landingPageMainContainer{
    display : flex;
    justify-content : space-between;
    padding-inline : 3rem;
    height: 80vh;
    align-items: center;
}

.landingPageMainContainer > div:nth-child(1) {
    font-size : 1.3rem;
}

.landingPageMainContainer > div:nth-child(1) div[role="button"]{
    background : #D97500;
    width: fit-content;
    padding: 0.8rem;
    border-radius: 10px;
}

.landingPageMainContainer > div:nth-child(1) div[role="button"] a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.landingPageMainContainer > div:nth-child(2) img{
    height: 70vh;
    width: auto;
}

.mainP{
    padding-block: 1.4rem;;
}

/* Home Page Styling */
.navbar{
    display: flex;
    justify-content: space-between;
    padding : 10px;

}

.navbar li{
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
    transition : color 0.5s ease-in-out;
}

.navbar li:hover{
    color: rgb(88, 65, 203);
}

.navbar div ul{
    display: flex;
    align-items: center;
}

.meetContainer{
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.infoContainer{
    display: flex;
    gap : 20px;
    align-items: center;
}

.btn{
    height: fit-content;
    padding : 10px !important;
    width: 20%;
}

.input{
    width: 70%;
}

.rightImage{
    width: 60%;
    height: auto;
}

.rightPanel{
    display: flex;
    justify-content: center;
}

.heading{
    font-size: 1.7rem;

}